body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav > li > a{
    font-weight:bold;
}
body {
    background: url("http://www.sweeps.homedics.com/images/background.jpg") fixed no-repeat;
    background-size:cover;
}
table {
    background-color: rgba(255,255,255,0.7)
}

/* Element */
    /*Targets elements, all of them it does not have preference of one over the other.*/
/* Class */
    /*Creates a set of css rules that can be applied to any element.*/