@{
    ViewBag.Title = "About Us ";
}
<h2 class="text-center">@ViewBag.Title</h2>

<div class="text-center" >
    <p>Welcome to We Care Child Care, a quality leaning center located in Moberly, Missouri. WCCC is an affordable child care facility.</p>
    <p>Our full-time childcare center offers the finest facility around, avaliable for children between the ages of 6 weeks and 5 years.<br /> We offer activites that are age appropriate to help keep them busy, and learning throught the day.</p>
    <p>Please feel free to contact us to setup a time when you can come tour our facility and meet our staff.<br /> We look forward to metting you and your children.</p>
</div>
<style>
    #imageContainer {
        text-align: center;
    }
</style>
<div class="container">
    <div id="imageContainer">
        <img src="../../Images/inside daycare.jpg" height="370" width="770" />
    </div>
</div>